.catalog__wrapper {
  padding-top: 15px;

  @media @tablet {
    padding-top: 38px;
  }
}

.catalog__photo-wrapper {
  margin: 16px auto 38px;
  padding: 0 20px;
  width: 280px;

  @media @tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 44px;
    width: 620px;
  }

  @media @desktop {
    margin-bottom: 5px;
    padding: 0 10px;
    width: 940px;
  }
}

.catalog__photo {
  margin: 0 0 17px 0;

  &:nth-child(4) {
    margin-bottom: 19px;
  }

  &:nth-child(5) {
    margin-bottom: 18px;
  }

  @media @desktop {
    margin: 0 0 54px 0;
  }
}
