.catalog__wrapper {
  margin: 0 auto;
}

.catalog__list {
  padding: 0;
  list-style-type: none;
}

.catalog__review {
  background-color: @gray;
}

.catalog__author {
  font-weight: bold;
  font-size: 14px;
}

.catalog__time {
  font-weight: lighter;
  font-size: 14px;
  text-transform: uppercase;
}

.catalog__text {
  font-size: 14px;
}

.catalog__like {
  color: @pink;
  font-size: 12px;
  text-transform: uppercase;
}
