.contacts__box {
  text-align: center;
  position: relative;
}

.contacts__title {
  margin-top: 44px;
  margin-bottom: 35px;
  font-weight: lighter;
  font-size: 24px;
  line-height: 28.8px;
  text-align: center;
}

.contacts__text {
  margin-top: 21px;
  margin-bottom: 0;
  font-weight: bold;
  line-height: 24.51px;
}

.contacts__text + p {
  margin: 0;
}

.contacts__address,
.contacts__phone a,
.contacts__email a {
  color: @pink;
  font-weight: lighter;
  font-size: 24px;
  line-height: 32.68px;
  text-decoration: none;
}

.contacts__email a {
  &:hover {
    color: @blue;
    text-decoration: underline;
  }

  &:active {
    color: fade(@blue, 30%);
    text-decoration: none;
  }
}

.contacts__map {
  margin-top: 35px;
  margin-bottom: 35px;
  width: calc(100% + 40px);
  transform: translateX(-20px);
  text-align: center;
  position: relative;

  @media (min-width: @desktop-width) {
    transform: translateX(-130px);
    width: calc(100% + 260px);
  }

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    clip-path: polygon(0 0, 50% 15%, 100% 0);
    background-color: @basic-white;
    z-index: 10;

    @media (min-width: @tablet-width) {
      clip-path: polygon(0 0, 50% 18%, 100% 0);
    }

    @media (min-width: @desktop-width) {
      clip-path: polygon(0 0, 50% 20%, 100% 0);
    }
  }
}

.contacts__map iframe {
  position: relative;
  min-height: 200px;
  border: none;
  min-width: 100%;
  background-image: url("../img/map-mobile.jpg");
  background-color: @gray;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    min-height: 374px;
    background-image: url("../img/map-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 502px;
    background-image: url("../img/map-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }
}

.contacts__map::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 50%;
  transform: translateX(50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 10px solid @basic-white;
  background-color: @pink;
}

@media (min-width: @tablet-width) {
  .contacts__box {
    display: flex;
    justify-content: space-around;
    row-gap: 42px;
    flex-wrap: wrap;
  }

  .contacts__title {
    margin-top: 44px;
    margin-bottom: 33px;
    font-size: 40px;
    line-height: 54.47px;
  }

  .contacts__text {
    margin: 0;
    margin-bottom: 5px;
  }

  .contacts__map {
    margin-top: 25px;
    margin-bottom: 10px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__box {
    justify-content: space-around;
  }

  .contacts__title {
    margin-top: 59px;
    margin-bottom: 40px;
    font-size: 50px;
    line-height: 68.09px;
  }

  .contacts__text {
    margin-bottom: 22px;
  }

  .contacts__item:nth-child(1) {
    margin-left: 5px;
    order: 1;
  }

  .contacts__item:nth-child(2) {
    order: 3;
  }

  .contacts__item:nth-child(3) {
    order: 2;
    margin-left: 31px;
  }

  .contacts__wrapper {
    padding: 0;
  }

  .contacts__map {
    margin-top: 22px;
    margin-bottom: 47px;

    &::after {
      top: 52%;
    }
  }
}
