.filter__wrapper {
  margin: 0 auto;
}

.filter__intro {
  font-size: 14px;
  line-height: 30px;
}

.filter__form {
  margin-bottom: 15px;
  background-color: @gray;
}

.filter__list {
  padding: 0;
  list-style: none;
}

.filter__buttons {
  display: flex;
  flex-direction: column;
}

.filter__button {
  margin-bottom: 20px;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  border-radius: 30px;
}

.filter__button-submit {
  color: @pink;
  border: 3px solid @pink;
}

.filter__button-cancel {
  color: @blue;
  border: 3px solid @blue;
  opacity: 0.1;
}

@media (min-width: @tablet-width) {
  .filter__form {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: @desktop-width) {
  .filter__buttons {
    flex-direction: row;
    column-gap: 15px;
  }
}
