.form__wrapper {
  margin: 0 auto;
}

.form__info {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.form__user-info {
  border-style: none;
  order: 1;
}

.form__info-list {
  padding: 0;
  list-style-type: none;
}

.form__info-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form__info-item ::placeholder {
  color: @blue;
}

.form__info-name {
  color: @pink;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.form__info-item input {
  padding: 15px 0 15px 20px;
  border: 2px solid @dark-gray;
  border-radius: 1px;
  font-size: 18px;
  line-height: 30px;
}

.form__title {
  color: @pink;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-bottom: 10px;
    line-height: 30px;
  }
}

.form__achievement {
  margin-bottom: 15px;
  background-color: @gray;
  border-style: none;
  order: 2;
}

.form__achievement-list {
  padding: 0;
  list-style-type: none;
}

.form__achievement-item {
  position: relative;
  margin-bottom: 20px;
}

.form__achievement-info {
  padding-left: 60px;
  line-height: 30px;
}

.form__input {
  position: absolute;
  appearance: none;
}

.form__checkbox {
  position: absolute;
  content: "";
  top: -2px;
  left: 0;
  margin-left: 0;
  width: 35px;
  height: 35px;
  border: 2px solid @dark-gray;
  border-radius: 1px;
  background-color: @basic-white;
}

.form__input:checked + .form__checkbox {
  background-image: url("../img/tick.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.form__input:focus + .form__checkbox {
  outline: @basic-black solid 2px;
}

.form__radio {
  position: absolute;
  appearance: none;
}

.form__radio-box {
  position: absolute;
  content: "";
  top: -2px;
  left: 0;
  margin-left: 0;
  width: 37px;
  height: 37px;
  border: 2px solid @dark-gray;
  border-radius: 50%;
  background-color: @basic-white;
}

.form__radio:checked + .form__radio-box {
  background-image: url("../img/ellipse.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.form__radio:focus + .form__radio-box {
  outline: @basic-black solid 2px;
}

.form__contacts {
  margin-bottom: 15px;
  border-style: none;
  order: 3;
}

.form__title--contacts {
  display: none;
}

.form__contacts-list {
  padding: 0;
  list-style-type: none;
}

.form__contacts-info {
  margin-left: 15px;
  color: @pink;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  cursor: pointer;
}

.form__contacts-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form__contacts-item ::placeholder {
  color: @blue;
}

.form__contacts-item input {
  padding: 13px 0 13px 20px;
  border: 2px solid @dark-gray;
  border-radius: 1px;
  font-size: 18px;
  line-height: 30px;
}

.form__os {
  margin-bottom: 25px;
  border-style: none;
  background-color: @gray;
  order: 4;
}

.form__os-list {
  padding: 0;
  list-style-type: none;
}

.form__os-item {
  position: relative;
  margin-bottom: 20px;
}

.form__os-info {
  padding-left: 50px;
  line-height: 30px;
  cursor: pointer;
}

.form__comment {
  display: flex;
  justify-content: space-around;
  border-style: none;
  order: 5;
}

.form__comment-item {
  display: block;
  padding-top: 20px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  border: 2px solid @dark-gray;
  border-radius: 1px;
  max-width: 276px;
  min-width: 276px;
  min-height: 197px;
  max-height: 197px;
}

.form__comment-item::placeholder {
  color: @blue;
}

.form__button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.form__button {
  color: @basic-white;
  margin-bottom: 20px;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 23px 45px;
  background-color: @special-green;
  border: 2px solid @special-green;
  border-radius: 1px;
}

.star {
  color: @pink;
}

@media (max-width: @only-mobile-width) {
  .form__user-info,
  .form__contacts,
  .form__comment {
    padding: 0;
  }
}

@media (min-width: @tablet-width) {
  fieldset {
    margin-top: 40px;
  }

  .form__title {
    padding: 0 20px;
  }

  .form__user-info {
    padding: 0;
    order: 1;
  }

  .form__achievement-list {
    margin-left: 20px;
  }

  .form__info-item {
    flex-direction: row;
    margin-bottom: 30px;
    align-items: center;
  }

  .form__info-item:last-child {
    margin-bottom: 0;
  }

  .form__info-name {
    margin-right: 15px;
    cursor: pointer;
  }

  .form__info-item input {
    padding: 10px 0 10px 15px;
    width: 100%;
    font-size: 18px;
    line-height: 30px;
  }

  .form__achievement {
    border: 2px solid @dark-gray;
    border-radius: 1px;
    background-color: unset;
    order: 4;
  }

  .form__contacts {
    border: 2px solid @dark-gray;
    border-radius: 1px;
    background-color: unset;
    order: 3;
  }

  .form__title--contacts {
    display: block;
  }

  .form__contacts-list {
    padding-right: 20px;
  }

  .form__contacts-item {
    display: flex;
    flex-direction: column;
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      content: "";
      width: 59px;
      height: 59px;
      background-color: @dark-gray;
      background-repeat: no-repeat;
      background-position: center;
    }

    &--mail::after {
      background-image: url("../img/mail-icon.svg");
      background-size: 18px 13px;
    }

    &--tel::after {
      background-image: url("../img/phone-icon.svg");
      background-size: 20px 19px;
    }
  }

  .form__contacts-info {
    margin-top: 5px;
    order: 2;
  }

  .form__contacts-item::placeholder {
    font-size: 18px;
    line-height: 30px;
  }

  .form__os {
    border: 2px solid @dark-gray;
    border-radius: 1px;
    background-color: unset;
    order: 2;
  }

  .form__os-item {
    margin-left: 20px;
  }

  .form__os-info {
    margin-left: 10px;
  }

  .form__comment {
    border: 2px solid @dark-gray;
    border-radius: 1px;
  }

  .form__comment-item {
    margin: 40px 30px;
    max-width: 496px;
    min-width: 496px;
    min-height: 189px;
    max-height: 189px;
  }

  .form__comment-item::placeholder {
    padding: 0;
    color: @blue;
    font-size: 18px;
    line-height: 30px;
  }

  .form__button-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }
}

@media (min-width: @desktop-width) {
  .form__info {
    margin-top: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__user-info {
    margin-top: 0;
  }

  .form__os {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .form__contacts {
    width: 100%;
  }

  .form__contacts-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
  }

  .form__achievement {
    width: 100%;
    padding: 0;
  }

  .form__achievement-list {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
  }

  .form__achievement-item {
    margin: 0;
    padding: 0;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .form__achievement-info {
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

  .form__checkbox {
    margin-left: -45px;
  }

  .form__comment-item {
    max-width: 620px;
    min-width: 620px;
    min-height: 124px;
    max-height: 124px;
  }
}
