.form__wrapper {
  margin: 0 auto;
}

.form__user-info {
  border-style: none;
}

.form__info-list {
  padding: 0;
  list-style-type: none;
}

.form__info-name {
  color: @pink;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.form__info-item input {
  border: 2px solid @dark-gray;
  border-radius: 1px;
}

.form__title {
  color: @pink;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__achievement {
  background-color: @gray;
  border-style: none;
}

.form__achievement-list {
  padding: 0;
  list-style-type: none;
}

.form__achievement-info {
  line-height: 30px;
}

.form__contacts {
  border-style: none;
}

.form__contacts-list {
  padding: 0;
  list-style-type: none;
}

.form__contacts-info {
  color: @pink;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.form__contacts-item input {
  border: 2px solid @dark-gray;
  border-radius: 1px;
}

.form__os {
  border-style: none;
  background-color: @gray;
}

.form__os-list {
  padding: 0;
  list-style-type: none;
}

.form__os-info {
  line-height: 30px;
}

.form__comment {
  border-style: none;
}

.form__comment-item {
  border: 2px solid @dark-gray;
  border-radius: 1px;
  min-width: 276px;
  max-width: 469px;
  min-height: 197px;
  max-height: 250px;
}

.form__button {
  color: @basic-white;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 23px 45px;
  background-color: @special-green;
  border: 2px solid @special-green;
  border-radius: 1px;
}

.form__legend {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.star {
  color: @pink;
}
