.header-image img {
  background-image: url("../img/screen-mobile.png");
  background-repeat: no-repeat;
  background-size: 111px 197px;
  background-position: 105px 33px;
  transform: translateY(5px);

  @media (min-width: @tablet-width) {
    transform: translateY(0);
    position: absolute;
    bottom: 0;
    right: 0;
  }

  @media (min-width: @desktop-width) {
    right: 10%;
  }
}
