.header-download {
  background-color: @dark-blue;
}

.header-download__button {
  color: @basic-white;
  background-color: inherit;
  padding: 21px 39px 21px 38px;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  border: 3px solid @basic-white;
  border-radius: 29px;
}

.header-download__intro {
  color: @basic-white;
  font-weight: lighter;
  font-size: 14px;
}
