.header-download {
  position: relative;
  background-color: @dark-blue;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    padding-bottom: 115px;
    max-width: 55%;
    background-color: unset;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 125px;
    max-width: 45%;
  }
}

.header-download__button {
  background-color: transparent;
  color: @basic-white;
  padding: 15px 39px 15px 38px;
  margin-bottom: 32px;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  border: 3px solid @basic-white;
  border-radius: 29px;

  &:hover {
    background-color: @basic-white;
    color: @pink;
  }

  &:active {
    color: fade(@pink, 30%);
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 44px;
    padding-left: 45px;
    padding-right: 45px;
    margin-right: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 70px;
    margin-right: 0;
    margin-left: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 21px;
  }
}

.header-download__icon-box {
  @media (min-width: @tablet-width) {
    margin-right: 45px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 0;
    margin-left: 13px;
  }
}

.header-download__intro {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  color: @basic-white;
  font-weight: lighter;
  font-size: 14px;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-right: 40px;
    max-width: 90%;
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    max-width: 95%;
    margin-right: 0;
    margin-left: 15px;
  }
}

.header-download__icon-list {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  list-style: none;
  display: flex;
  justify-content: center;
  column-gap: 35px;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 27px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 45px;
  }
}
