.header-top {
  background-color: fade(@blue, 30%);

  @media (min-width: @tablet-width) {
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.header-top__logo svg {
  margin-top: 20px;
  margin-bottom: 21px;
  margin-left: 20px;

  @media (min-width: @desktop-width) {
    margin-left: 130px;
  }
}

.header-top__logo path {
  &:hover {
    fill: @pink;
  }

  &:active {
    fill: fade(@basic-white, 30%);
  }
}
