.header-download__button {
  background-color: inherit;
  color: @basic-white;
  padding: 21px 39px 21px 38px;
  margin-bottom: 30px;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  border: 3px solid @basic-white;
  border-radius: 29px;

  @media (min-width: @tablet-width) {
    margin-bottom: 50px;
  }
}

.header-download__intro {
  padding-bottom: 30px;
  color: @basic-white;
  font-weight: lighter;
  font-size: 14px;

  @media (min-width: @tablet-width) {
    margin-right: 350px;
    padding-bottom: 70px;
  }
}
