.header-image img {
  background-image: url("../img/screen-mobile.png");
  background-repeat: no-repeat;
  background-size: 112px 199px;
  background-position: 105px 30px;

  transform: translateY(5px);

  @media (min-width: @tablet-width) {
    transform: translateY(0);
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
