.main-nav__wrapper {
  margin: 0 auto;
  padding: 0;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.main-nav__item {
  box-shadow: @box-shadow;
  background-color: @blue;
}

.main-nav__item a {
  color: @basic-white;
  font-weight: bold;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: @desktop) {
  .main-nav__list {
    display: flex;
    justify-content: space-around;
  }

  .main-nav__item {
    box-shadow: none;
    background-color: initial;
  }

  .main-nav__toogle {
    display: none;
  }
}
