.page-header {
  background-color: @dark-blue;
  // background-image: url("../img/back-mobile.png");
  // background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    position: relative;
    margin: 0 auto;
  }
}

