.page-header {
  background-color: @dark-blue;
  background-image: url("../img/back-mobile.png");
  background-repeat: no-repeat;
  background-size: 100%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.png");
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/back-tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.png");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/back-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.png");
    }
  }
}

// .main-nav__logo img {
//   @media (min-width: @tablet-width) {
//     width: 147px;
//     height: 40px;
//   }

//   @media (min-width: @desktop-width) {
//     width: 145px;
//     height: 40px;
//   }
// }

.page-header__wrapper {
  position: relative;

  @media (min-width: @tablet-width) {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
    min-width: 320px;
    max-width: 980px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 130px;
    padding-right: 130px;
  }
}
