.page-description p {
  margin-top: 45px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }
}

.page-description__wrapper {
  margin: 0 auto;
}

.page-description--home p:last-child {
  margin-top: 0;
}

.page-description--home {
  margin-bottom: 65px;

  @media (min-width: @tablet-width) {
    margin-bottom: 90px;
  }
}

.page-description--home p {
  margin-top: 40px;
  text-align: center;
  font-size: 24px;
  line-height: 28.8px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    line-height: 54.47px;
    font-size: 40px;
  }

  @media (min-width: @tablet-width) {
    line-height: 68.09px;
    font-size: 50px;
  }
}
