.page-header {
  color: @white;
  background-image: url("../img/back-mobile.png");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-color: @blue;
  background-size: cover;
  // background-position-y: bottom;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.png");
  }

  @media @tablet {
    background-image: url("../img/back-tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.png");
    }
  }

  @media @desktop {
    background-image: url("../img/back-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.png");
    }
  }

  &--home {
    background-position-y: bottom;
  }
}

.page-header__wrapper {
  position: relative;

  &--home {
    padding-top: 25px;

    @media @tablet {
      padding-top: 61px;
    }

    @media @desktop {
      padding-top: 66px;
    }
  }


  &--catalog {
    text-align: center;
    padding-bottom: 78px;
    padding-top: 30px;
  }

  &--form {
    padding-bottom: 45px;
    padding-top: 31px;

    @media @tablet {
      padding-top: 67px;
      padding-bottom: 59px;
    }

    @media @desktop {
      padding-top: 58px;
      padding-bottom: 89px;
    }
  }
}

.page-header__wrapper--form .header-title {
  margin: 0;
}
