.popup {
  display: none;
  width: 320px;

  @media (min-width: @tablet-width) {
    width: 460px;
  }

  @media (min-width: @desktop-width) {
    width: 780px;
  }
}

.popup__wrapper {
  margin: 0 auto;
}

.popup__title {
  font-weight: bold;
  font-size: 18px;
}

.popup__text {
  font-size: 14px;
}

.popup__button-box {
  padding: 52px 83px 52px 82px;
  background-color: @gray;
  border-radius: 0 0 5px 5px;
}

.popup__button {
  color: @basic-white;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 23px 65px 23px 66px;
  background-color: @special-green;
  border: 2px solid @special-green;
  border-radius: 1px;
}
