// .social {
//   margin-bottom: 19px;

//   @media (min-width: @tablet-width) {
//     margin-bottom: 0;
//   }
// }

.social__list {
  display: flex;
  column-gap: 10px;
  padding: 0;
  list-style-type: none;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  fill: @pink;
  border: 3px solid fade(@blue, 10%);
  border-radius: 50%;

  &:hover {
    border-color: @blue;
  }

  &:active {
    fill: fade(@pink, 30%);
    border-color: fade(@blue, 10%);
  }

  &--twitter {
    width: 18px;
    height: 14px;
    padding: 17px 15px;
  }

  &--facebook {
    width: 9px;
    height: 18px;
    padding: 15px 19px 15px 20px;
  }

  &--youtube {
    width: 15px;
    height: 13px;
    padding: 18px 14px 17px 19px;
  }
}
