.test__wrapper {
  display: none;

  @media (min-width: @tablet) {
    display: flex;
    justify-content: space-around;
    column-gap: 70px;
  }
}

.test__title {
  padding: 0;
  margin: 0;
  color: @basic-black;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.test__text {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.test__link {
  color: @pink;
  font-size: 14px;
}
